
/*

 MS blur:
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3'); 

*/

/* Variables: */
@sizeDesktopGrande: 1200px;  /* gg : large */
@sizeDesktop: 992px;         /* g  : common size */
@sizeTablet: 768px;          /* mm : medium */
@sizeCelGrande: 600px;       /* m  : not so small */
@sizeCelMedio: 460px;        /* ss : small */
@sizeCel: 260px;             /* s  : very small */

@screenDesktopGrande: ~"only screen and (min-width: @{sizeDesktopGrande} )";
@screenDesktop: ~"only screen and (min-width: @{sizeDesktop} )";
@screenTablet: ~"only screen and (min-width: @{sizeTablet} )";
@screenCelGrande: ~"only screen and (min-width: @{sizeCelGrande} )";
@screenCelMedio: ~"only screen and (min-width: @{sizeCelMedio} )";
@screenCel: ~"only screen and (min-width: @{sizeCel} )";

@onlyDesktopGrande: ~"only screen and (min-width: @{sizeDesktopGrande} )";
@onlyDesktop: ~"only screen and (min-width: @{sizeDesktop} ) and (max-width: @{sizeDesktopGrande} )";
@onlyTablet: ~"only screen and (min-width: @{sizeTablet} ) and (max-width: @{sizeDesktop} )";
@onlyCelGrande: ~"only screen and (min-width: @{sizeCelGrande} ) and (max-width: @{sizeTablet} )";
@onlyCelMedio: ~"only screen and (min-width: @{sizeCelMedio} ) and (max-width: @{sizeCelGrande} )";
@onlyCel: ~"only screen and (min-width: @{sizeCel} ) and (max-width: @{sizeCelMedio} )";

@maxDesktopGrande: ~"only screen and (max-width: @{sizeDesktopGrande} )";
@maxDesktop: ~"only screen and (max-width: @{sizeDesktop} )";
@maxTablet: ~"only screen and (max-width: @{sizeTablet} )";
@maxCelGrande: ~"only screen and (max-width: @{sizeCelGrande} )";
@maxCelMedio: ~"only screen and (max-width: @{sizeCelMedio} )";
@maxCel: ~"only screen and (max-width: @{sizeCel} )";



/* Mixins: */
.clearAfter{
  &:after{
    content: '';
    display: block;
    clear: both;
    zoom:1; /* IE6 hack (??) */
  }
}
.noSelect{
    /* prevent copy paste, to allow, change 'none' to 'text' */
  -webkit-user-select: none;
  cursor: default;
}

/*
  !!!!!  Ddont remove this piece of code  !!!!!
  This will be moved to another framework, with the shadows code too.
  
.corTrans( @cor; @trans; @withTrans ) when (@withTrans = true){
  .corTrans(@cor; @trans);
  @nBranco: 255 * (1 - @nA) ;
  @oR: (@nR - @nBranco) / @nA ;
  @oG: (@nG - @nBranco) / @nA ;
  @oB: (@nB - @nBranco) / @nA ;
  @corTrans: rgba(@oR, @oG, @oB, @nA);
}
.corTrans( @cor; @trans ){
  @R: red(@cor);
  @G: green(@cor);
  @B: blue(@cor);
  @A: alpha(@cor);
  @nBranco: 255 * (1 - @A) ;
  @nR: @nBranco + (@R * @A) ;
  @nG: @nBranco + (@G * @A) ;
  @nB: @nBranco + (@B * @A) ;
  @nA: @trans ;
  @corTrans: rgba(@nR, @nG, @nB, 1);
}
*/
  

/* General styles: */
.container{
  .clearAfter;
  margin: 0 auto;
  width: 100%;
  padding: 10px 10px;
  box-sizing: border-box;
}


/* Grid styles: */
.col{
  float: left;
  display: inline-block;
  padding: 5px;
  position: relative;
  box-sizing: border-box;
}
.row{
  .clearAfter;
  width: 100%;
  display: block;
  position: relative;
  box-sizing: border-box;
}

.z-loop(@i) when (@i > 0){
  .z-loop(@i - 1);
  .z@{i}{
    box-shadow: 
      0px (@i * 2px) (@i * 2.5px) 0px rgba(0,0,0,  .15),
      0px (@i * 1.8px) (@i * 1.5px) (@i * -1.2px) rgba(0,0,0,  .25),
      0px (@i * 0.4px) (@i * 0.6px) (@i * 0.4px) rgba(0,0,0,  .10) ,
      0px 2px 1px 0 rgba(255,255,255,  .25) inset;
  }
}
.z0{
  box-shadow: none !important;
}
.z-loop(12);

.x-loop(@x, @i) when (@i > 0){
  .x-loop(@x, @i - 1);
  .@{x}@{i}{
    width: (@i / 12) * 100%;
  }
}

/*  ===========   Max   ======================  */

.sh{
  display: none !important;
}
@media @maxCel{
  
}
@media @maxCelMedio{
  .ssh{
    display: none !important;
  }
}
@media @maxCelGrande{
  .mh{
    display: none !important;
  }
}
@media @maxTablet{
  .mmh{
    display: none !important;
  }
}
@media @maxDesktop{
  .gh{
    display: none !important;
  }
}
@media @maxDesktopGrande{
  .ggh{
    display: none !important;
  }
}

/*  ===========   Only   ======================  */

.sh-only{
  display: none;
}
@media @onlyCel{
  
}
@media @onlyCelMedio{
  .ssh-only{
    display: none !important;
  }
}
@media @onlyCelGrande{
  .mh-only{
    display: none !important;
  }
}
@media @onlyTablet{
  .mmh-only{
    display: none !important;
  }
}
@media @onlyDesktop{
  .gh-only{
    display: none !important;
  }
}
@media @onlyDesktopGrande{
  .ggh-only{
    display: none !important;
  }
}


/*  ===========   Min   ======================  */

.container{
  width: 100%;
}
.x-loop(s, 12);
.sr{
  .col{
    float: right;
  }
}
.sl{
  .col{
    float: left;
  }
}
.shs{
  display: none !important;
}
@media @screenCel{
  
}
@media @screenCelMedio{
  .container{
    width: @sizeCelMedio;
  }
  .x-loop(ss, 12);
  .ssr{
    .col{
      float: right;
    }
  }
  .ssl{
    .col{
      float: left;
    }
  }
  .sshs{
    display: none !important;
  }
}
@media @screenCelGrande{
  .container{
    width: @sizeCelGrande;
  }
  .x-loop(m, 12);
  .mr{
    .col{
      float: right;
    }
  }
  .ml{
    .col{
      float: left;
    }
  }
  .mhs{
    display: none !important;
  }
}
@media @screenTablet{
  .container{
    width: @sizeTablet;
  }
  .x-loop(mm, 12);
  .mmr{
    .col{
      float: right;
    }
  }
  .mml{
    .col{
      float: left;
    }
  }
  .mmhs{
    display: none !important;
  }
}
@media @screenDesktop{
  .container{
    width: @sizeDesktop;
  }
  .x-loop(g, 12);
  .gr{
    .col{
      float: right;
    }
  }
  .gl{
    .col{
      float: left;
    }
  }
  .ghs{
    display: none !important;
  }
}
@media @screenDesktopGrande{
  .container{
    width: @sizeDesktopGrande;
  }
  .x-loop(gg, 12);
  .ggr{
    .col{
      float: right;
    }
  }
  .ggl{
    .col{
      float: left;
    }
  }
  .gghs{
    display: none !important;
  }
}


/*
  Just to store the template to responsive grid.
  
@media @screenCel{
  
}
@media @screenCelMedio{
  
}
@media @screenCelGrande{
  
}
@media @screenTablet{
  
}
@media @screenDesktop{
  
}
@media @screenDesktopGrande{
  
}

*/
