/*

 MS blur:
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3'); 

*/
/* Variaveis: */
/* gg : large */
/* g  : common size */
/* mm : medium */
/* m  : not so small */
/* ss : small */
/* s  : very small */
/* Mixins: */
.clearAfter:after {
  content: '';
  display: block;
  clear: both;
  zoom: 1;
  /* IE6 hack (??) */
}
.noSelect {
  /* prevent copy paste, to allow, change 'none' to 'text' */
  -webkit-user-select: none;
  cursor: default;
}
/* estilos gerais: */
.container {
  margin: 0 auto;
  width: 100%;
  padding: 10px 10px;
  box-sizing: border-box;
}
.container:after {
  content: '';
  display: block;
  clear: both;
  zoom: 1;
  /* IE6 hack (??) */
}
/* estilos de grade: */
.col {
  float: left;
  display: inline-block;
  padding: 5px;
  position: relative;
  box-sizing: border-box;
}
.row {
  width: 100%;
  display: block;
  position: relative;
  box-sizing: border-box;
}
.row:after {
  content: '';
  display: block;
  clear: both;
  zoom: 1;
  /* IE6 hack (??) */
}
.z0 {
  box-shadow: none !important;
}
.z1 {
  box-shadow: 0px 2px 2.5px 0px rgba(0, 0, 0, 0.15), 0px 1.8px 1.5px -1.2px rgba(0, 0, 0, 0.25), 0px 0.4px 0.6px 0.4px rgba(0, 0, 0, 0.1), 0px 2px 1px 0 rgba(255, 255, 255, 0.25) inset;
}
.z2 {
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15), 0px 3.6px 3px -2.4px rgba(0, 0, 0, 0.25), 0px 0.8px 1.2px 0.8px rgba(0, 0, 0, 0.1), 0px 2px 1px 0 rgba(255, 255, 255, 0.25) inset;
}
.z3 {
  box-shadow: 0px 6px 7.5px 0px rgba(0, 0, 0, 0.15), 0px 5.4px 4.5px -3.6px rgba(0, 0, 0, 0.25), 0px 1.2px 1.8px 1.2px rgba(0, 0, 0, 0.1), 0px 2px 1px 0 rgba(255, 255, 255, 0.25) inset;
}
.z4 {
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.15), 0px 7.2px 6px -4.8px rgba(0, 0, 0, 0.25), 0px 1.6px 2.4px 1.6px rgba(0, 0, 0, 0.1), 0px 2px 1px 0 rgba(255, 255, 255, 0.25) inset;
}
.z5 {
  box-shadow: 0px 10px 12.5px 0px rgba(0, 0, 0, 0.15), 0px 9px 7.5px -6px rgba(0, 0, 0, 0.25), 0px 2px 3px 2px rgba(0, 0, 0, 0.1), 0px 2px 1px 0 rgba(255, 255, 255, 0.25) inset;
}
.z6 {
  box-shadow: 0px 12px 15px 0px rgba(0, 0, 0, 0.15), 0px 10.8px 9px -7.2px rgba(0, 0, 0, 0.25), 0px 2.4px 3.6px 2.4px rgba(0, 0, 0, 0.1), 0px 2px 1px 0 rgba(255, 255, 255, 0.25) inset;
}
.z7 {
  box-shadow: 0px 14px 17.5px 0px rgba(0, 0, 0, 0.15), 0px 12.6px 10.5px -8.4px rgba(0, 0, 0, 0.25), 0px 2.8px 4.2px 2.8px rgba(0, 0, 0, 0.1), 0px 2px 1px 0 rgba(255, 255, 255, 0.25) inset;
}
.z8 {
  box-shadow: 0px 16px 20px 0px rgba(0, 0, 0, 0.15), 0px 14.4px 12px -9.6px rgba(0, 0, 0, 0.25), 0px 3.2px 4.8px 3.2px rgba(0, 0, 0, 0.1), 0px 2px 1px 0 rgba(255, 255, 255, 0.25) inset;
}
.z9 {
  box-shadow: 0px 18px 22.5px 0px rgba(0, 0, 0, 0.15), 0px 16.2px 13.5px -10.8px rgba(0, 0, 0, 0.25), 0px 3.6px 5.4px 3.6px rgba(0, 0, 0, 0.1), 0px 2px 1px 0 rgba(255, 255, 255, 0.25) inset;
}
.z10 {
  box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.15), 0px 18px 15px -12px rgba(0, 0, 0, 0.25), 0px 4px 6px 4px rgba(0, 0, 0, 0.1), 0px 2px 1px 0 rgba(255, 255, 255, 0.25) inset;
}
.z11 {
  box-shadow: 0px 22px 27.5px 0px rgba(0, 0, 0, 0.15), 0px 19.8px 16.5px -13.2px rgba(0, 0, 0, 0.25), 0px 4.4px 6.6px 4.4px rgba(0, 0, 0, 0.1), 0px 2px 1px 0 rgba(255, 255, 255, 0.25) inset;
}
.z12 {
  box-shadow: 0px 24px 30px 0px rgba(0, 0, 0, 0.15), 0px 21.6px 18px -14.4px rgba(0, 0, 0, 0.25), 0px 4.8px 7.2px 4.8px rgba(0, 0, 0, 0.1), 0px 2px 1px 0 rgba(255, 255, 255, 0.25) inset;
}
/*  ===========   Max   ======================  */
.sh {
  display: none;
}
@media only screen and (max-width: 460px ) {
  .ssh {
    display: none;
  }
}
@media only screen and (max-width: 600px ) {
  .mh {
    display: none;
  }
}
@media only screen and (max-width: 768px ) {
  .mmh {
    display: none;
  }
}
@media only screen and (max-width: 992px ) {
  .gh {
    display: none;
  }
}
@media only screen and (max-width: 1200px ) {
  .ggh {
    display: none;
  }
}
/*  ===========   Only   ======================  */
.sh-only {
  display: none;
}
@media only screen and (min-width: 460px ) and (max-width: 600px ) {
  .ssh-only {
    display: none;
  }
}
@media only screen and (min-width: 600px ) and (max-width: 768px ) {
  .mh-only {
    display: none;
  }
}
@media only screen and (min-width: 768px ) and (max-width: 992px ) {
  .mmh-only {
    display: none;
  }
}
@media only screen and (min-width: 992px ) and (max-width: 1200px ) {
  .gh-only {
    display: none;
  }
}
@media only screen and (min-width: 1200px ) {
  .ggh-only {
    display: none;
  }
}
/*  ===========   Min   ======================  */
.container {
  width: 100%;
}
.s1 {
  width: 8.33333333%;
}
.s2 {
  width: 16.66666667%;
}
.s3 {
  width: 25%;
}
.s4 {
  width: 33.33333333%;
}
.s5 {
  width: 41.66666667%;
}
.s6 {
  width: 50%;
}
.s7 {
  width: 58.33333333%;
}
.s8 {
  width: 66.66666667%;
}
.s9 {
  width: 75%;
}
.s10 {
  width: 83.33333333%;
}
.s11 {
  width: 91.66666667%;
}
.s12 {
  width: 100%;
}
.sr .col {
  float: right;
}
.sl .col {
  float: left;
}
.shs {
  display: none;
}
@media only screen and (min-width: 460px ) {
  .container {
    width: 460px;
  }
  .ss1 {
    width: 8.33333333%;
  }
  .ss2 {
    width: 16.66666667%;
  }
  .ss3 {
    width: 25%;
  }
  .ss4 {
    width: 33.33333333%;
  }
  .ss5 {
    width: 41.66666667%;
  }
  .ss6 {
    width: 50%;
  }
  .ss7 {
    width: 58.33333333%;
  }
  .ss8 {
    width: 66.66666667%;
  }
  .ss9 {
    width: 75%;
  }
  .ss10 {
    width: 83.33333333%;
  }
  .ss11 {
    width: 91.66666667%;
  }
  .ss12 {
    width: 100%;
  }
  .ssr .col {
    float: right;
  }
  .ssl .col {
    float: left;
  }
  .sshs {
    display: none;
  }
}
@media only screen and (min-width: 600px ) {
  .container {
    width: 600px;
  }
  .m1 {
    width: 8.33333333%;
  }
  .m2 {
    width: 16.66666667%;
  }
  .m3 {
    width: 25%;
  }
  .m4 {
    width: 33.33333333%;
  }
  .m5 {
    width: 41.66666667%;
  }
  .m6 {
    width: 50%;
  }
  .m7 {
    width: 58.33333333%;
  }
  .m8 {
    width: 66.66666667%;
  }
  .m9 {
    width: 75%;
  }
  .m10 {
    width: 83.33333333%;
  }
  .m11 {
    width: 91.66666667%;
  }
  .m12 {
    width: 100%;
  }
  .mr .col {
    float: right;
  }
  .ml .col {
    float: left;
  }
  .mhs {
    display: none;
  }
}
@media only screen and (min-width: 768px ) {
  .container {
    width: 768px;
  }
  .mm1 {
    width: 8.33333333%;
  }
  .mm2 {
    width: 16.66666667%;
  }
  .mm3 {
    width: 25%;
  }
  .mm4 {
    width: 33.33333333%;
  }
  .mm5 {
    width: 41.66666667%;
  }
  .mm6 {
    width: 50%;
  }
  .mm7 {
    width: 58.33333333%;
  }
  .mm8 {
    width: 66.66666667%;
  }
  .mm9 {
    width: 75%;
  }
  .mm10 {
    width: 83.33333333%;
  }
  .mm11 {
    width: 91.66666667%;
  }
  .mm12 {
    width: 100%;
  }
  .mmr .col {
    float: right;
  }
  .mml .col {
    float: left;
  }
  .mmhs {
    display: none;
  }
}
@media only screen and (min-width: 992px ) {
  .container {
    width: 992px;
  }
  .g1 {
    width: 8.33333333%;
  }
  .g2 {
    width: 16.66666667%;
  }
  .g3 {
    width: 25%;
  }
  .g4 {
    width: 33.33333333%;
  }
  .g5 {
    width: 41.66666667%;
  }
  .g6 {
    width: 50%;
  }
  .g7 {
    width: 58.33333333%;
  }
  .g8 {
    width: 66.66666667%;
  }
  .g9 {
    width: 75%;
  }
  .g10 {
    width: 83.33333333%;
  }
  .g11 {
    width: 91.66666667%;
  }
  .g12 {
    width: 100%;
  }
  .gr .col {
    float: right;
  }
  .gl .col {
    float: left;
  }
  .ghs {
    display: none;
  }
}
@media only screen and (min-width: 1200px ) {
  .container {
    width: 1200px;
  }
  .gg1 {
    width: 8.33333333%;
  }
  .gg2 {
    width: 16.66666667%;
  }
  .gg3 {
    width: 25%;
  }
  .gg4 {
    width: 33.33333333%;
  }
  .gg5 {
    width: 41.66666667%;
  }
  .gg6 {
    width: 50%;
  }
  .gg7 {
    width: 58.33333333%;
  }
  .gg8 {
    width: 66.66666667%;
  }
  .gg9 {
    width: 75%;
  }
  .gg10 {
    width: 83.33333333%;
  }
  .gg11 {
    width: 91.66666667%;
  }
  .gg12 {
    width: 100%;
  }
  .ggr .col {
    float: right;
  }
  .ggl .col {
    float: left;
  }
  .gghs {
    display: none;
  }
}
/*

@media @telaCel{
  
}
@media @telaCelMedio{
  
}
@media @telaCelGrande{
  
}
@media @telaTablet{
  
}
@media @telaDesktop{
  
}
@media @telaDesktopGrande{
  
}

*/
