@font-face {
  font-family: 'Roboto';
  src: url("fontes/Roboto-Regular.eot");
  src: url("fontes/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("fontes/Roboto-Regular.woff") format("woff"), url("fontes/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src: url("fontes/Roboto-Regular.eot");
  src: url("fontes/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("fontes/Roboto-Light.woff") format("woff"), url("fontes/Roboto-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: lighter;
}
@font-face {
  font-family: 'Roboto';
  src: url("fontes/Roboto-Regular.eot");
  src: url("fontes/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("fontes/Roboto-Bold.woff") format("woff"), url("fontes/Roboto-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
/* General styles: */
body {
  line-height: 1.5em;
  font-size: 1.2em;
}
.listras .col {
  text-align: center;
}
.listras .col:nth-of-type(even) {
  background: #efefef;
}
.listras .col:nth-of-type(odd) {
  background: #cfcfcf;
}
p {
  margin: 0 0 20px;
}
.marginTop {
  margin-top: 60px;
}
hr {
  height: 3px;
  width: 100%;
  background: #ccc;
  margin: 70px 0 0;
}
.title {
  color: #ccc;
  font-size: 2em;
  margin: 0 0 60px;
  padding: 10px 0;
}
table.api {
  margin: 0 0 40px;
}
table.api thead tr td {
  background: transparent !important;
}
table.api tr:nth-of-type(odd) td {
  background: #efefef;
}
table.api tr:nth-of-type(even) td {
  background: #cfcfcf;
}
table.api tr td {
  padding: 10px 15px;
}
table.api i {
  padding: 0 4px;
  font-weight: bold;
}
/* Examples styles: */
.full12Column .row {
  margin: 0 0 10px;
}
.demoContainer {
  margin-bottom: 10px;
  border: orangered;
  background: orange;
  text-align: center;
  color: #fff;
  padding: 10px 0;
}
.grade {
  margin: 60px 0 0;
}
.grade .row {
  border-bottom: 1px solid rgba(0, 0, 255, 0.3);
}
.grade .row:last-of-type {
  border-bottom: none;
}
.grade .sombras {
  margin: 20px 0 0;
}
.grade .sombras .col > * {
  text-align: center;
  min-height: 30px;
  background: #5ccc40;
  border-radius: 3px;
  line-height: 30px;
  width: 150%;
}
.grade .sombras .col:last-of-type > * {
  width: 100%;
}
.grade .sombras2 .col > * {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
