@font-face {
  font-family: 'Roboto';
  src: url("fontes/Roboto-Regular.eot");
  src: url("fontes/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("fontes/Roboto-Regular.woff") format("woff"), url("fontes/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src: url("fontes/Roboto-Regular.eot");
  src: url("fontes/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("fontes/Roboto-Light.woff") format("woff"), url("fontes/Roboto-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: lighter;
}
@font-face {
  font-family: 'Roboto';
  src: url("fontes/Roboto-Regular.eot");
  src: url("fontes/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("fontes/Roboto-Bold.woff") format("woff"), url("fontes/Roboto-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
/* General styles: */
.listras .col {
  text-align: center;
}
.listras .col:nth-of-type(even) {
  background: #efefef;
}
.listras .col:nth-of-type(odd) {
  background: #cfcfcf;
}
p {
  margin: 0 0 10px;
}
/* Examples styles: */
.full12Column .row {
  margin: 0 0 10px;
}
.grade .row {
  border-bottom: 1px solid rgba(0, 0, 255, 0.3);
}
.grade .row:last-of-type {
  border-bottom: none;
}
.grade .sombras {
  margin: 20px 0 0;
}
.grade .sombras .col > * {
  text-align: center;
  min-height: 30px;
  background: #5ccc40;
  border-radius: 3px;
  line-height: 30px;
  width: 150%;
}
.grade .sombras .col:last-of-type > * {
  width: 100%;
}
.grade .sombras2 .col > * {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
